body {
  margin: 0;
  padding: 0;
  background-color: #6DB7A8;
  font-family: Enriqueta;
}

NavLink {
  background-color: #f1f1f1;
}

main{
  max-width: 30em;
  margin: auto;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  margin-bottom: 0.5%;
  color: #322E31;
  font-family: Enriqueta;
  font-size: 2.4rem;
  background-color: #25494C;

}

nav a.active {
  color: #442722;
  font-weight: bold;
}

button {
  border-radius: 4px;
  background-color: #D13F36;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}